@model IEnumerable<Metier.Domaine.Priorite>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-bottom:60px; margin-top: 50px; color:blue; font-weight: bold; text-align: center;">  Quelle est la priorité du ticket? </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"  style="background-color:black; color: white;"

>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrioriteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrioriteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrioriteID })
        </td>
    </tr>
}

</table>
